body {
    background-color: $background-color;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#render-canvas {
    width: 100%;
    height: 100%;
    
    &:focus {
        outline: none;
    }
}

#ui {
    pointer-events: none;

    > * {
        pointer-events: auto;
    }
}
